*,
*:before,
*:after {
  box-sizing: inherit;
}

ol, ul {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 20% );
}

header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1 / 6;
}

.logo {
  align-items: center;
  margin-top: 0.5em;
  grid-column: 1 / 3;
}

.logotype {
  display: inline-flex;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Helvetica, Arial, sans-serif;
  font-size: 2em;
  padding: 0.5em;
  margin-left: 0.5em;
}

.logo img {
  max-height: 2.5em;
}

.main-nav {
  grid-column: 3 / -1;
  margin-top: 0.5em;
}

.main-nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0.5em;
}

.main-nav ul li {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.main-nav ul li a {
  color: #000;
  display: block;
  padding: 1em;
  text-decoration: none;
}

.main-nav ul li a:hover {
  background-color: #000;
  color: #fff;
  padding: 1em;
}

.hero {
  grid-column: 1 / 6;
}

.hero img {
  max-width: 100%;
  min-width: 100%;
}

.content {
  grid-column: 2 / 5;
  grid-row-start: 3;
  margin: 1.5em;
  min-height: 200px;
}
