*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Helvetica, Arial, sans-serif
}
.container {
  display:  grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.logo {
  align-items: center;
  grid-column-start: 1;
}
.logo img {
  /* margin-left: .5em; */
  max-height: 2.5em;
}
.logo h1 {
  margin-left: 0.5em;
  display: inline-flex;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, Helvetica, Arial, sans-serif
  /* font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;  */
}
.main-nav {
  grid-column-start: 3;
  grid-column-end: -1;
  align-items: center;
}
.main-nav ul {
  display: flex;
  list-style: none;
}
.main-nav ul li {
  /* padding: 0 2em; */
  margin-left: auto;
  margin-right: auto;
}
.hero {
  grid-column-start: 1;
  grid-column-end: 6;
}
.hero img {
  max-width: 100%;
}
.content {
  grid-column-start: 2;
  grid-column-end: 5;
  min-height: 200px;
}